{% extends 'base.html.twig' %}

{% block title %}Hello MarketplaceController!{% endblock %}

{% block body %}

        <section class="container">
            <h2>MA PAGE D'ACCCUEIL</h2>
            <div class="row">
                <div class="col-sm">
                One of three columns
                </div>
                <div class="col-sm">
                One of three columns
                </div>
                <div class="col-sm">
                One of three columns
                </div>
            </div>
        </section>

{% endblock %}
