{% extends 'base.html.twig' %}

{% block title %}Espace Membre{% endblock %}

{% block body %}

    <section class="container">
        <h2>ESPACE MEMBRE</h2>
    </section>

    <section class="container">
        <h2>FORMULAIRE POUR CREER UNE ANNONCE</h2>

        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-primary">{{ button_label|default('PUBLIER VOTRE ANNONCE') }}</button>
        {{ form_end(form) }}

    </section>
{% endblock %}
