{% extends 'base.html.twig' %}

{% block title %}Hello MarketplaceController!{% endblock %}

{% block body %}
    <section class="container">
        <h2>ESPACE MEMBRE</h2>
    </section>
{% endblock %}
